
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  
  .carousel-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: 50px;
  }
  
  .carousel-content img {

    width: 300px;
    object-fit: cover;
  }

  .chevron{
    border: none;
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  .chevronImgRight {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
  }


  .chevronImgLeft {
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-left: 0px;
    z-index: 100;
    
  }

