.mainContainer{
    display: flex;
    flex-direction: column;
}
  
  
.heroMain{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.heroMainImg{
    position: relative;
    width: 100%;
    z-index: 0;
}

.heroMainText{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    font-size: 50px;
    display: flex;
    width: 70vw;
    gap: 30px;
    margin-top: 200px;
}

.heroMainDescription{
    text-align: center;
    font-size: 24px;
    font-family: 'Raleway';
}

.heroPrenota{
    background-color: #8a6b60 ;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 24px;
}

