* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Raleway";
    src: url(../../public//Fonts/Raleway-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
  }
  

.navbar{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 150px;
    /* border: 1px solid red; */
}

.navLogo{
    font-size: 26px;
    color: #8a6b60;
    font-weight: bold;
   /*  border: 1px solid blue; */
}

.navLinks{
    display: flex;
    font-size: 24px;
    font-family: 'Raleway';
   /*  border: 1px solid green; */
    padding: 4px;
}

.navHome, .navAttivita, .navContatti, .navLingua, .navPrenota{
    padding: 10px 30px;
    /* border: 1px solid purple; */
    text-decoration: none;
    color: black;
}

.selectLanguage{
    border: none;
    font-size: 24px;
}

.langIT, .langEN{
    font-size: 14px;
}

.navPrenota{
    background-color: #8a6b60 ;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}