* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 150px;
    border: 1px solid red;
}

.navLogo{
    font-size: 34px;
    color: #8a6b60;
    font-weight: bold;
    border: 1px solid blue;
}

.navLinks{
    display: flex;
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid green;
    padding: 4px;
}

.navLinks div{
    padding: 10px 30px;
    border: 1px solid purple;
}

.navPrenota{
    background-color: #8a6b60 ;
    color: white;
    font-weight: bold;
}